@import url('https://fonts.googleapis.com/css2?family=Lemonada&family=Sriracha&display=swap');

$font1: 'Lemonada', cursive;
$font2: 'Sriracha', cursive;

$color1: #0b2948;
$color2: #285077;
$color3: #3b3ee6;
$color4: #eb5d32;
$color5: #285c91;
$color6: #b8d4da;
$color7: #c4cc24;

$shad1: #a8dcd4d2;